<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centerm.dao.prom.DiscountRuleInfMapper" >
  <resultMap id="BaseResultMap" type="com.centerm.model.prom.DiscountRuleInf" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mchnt_cd" property="mchntCd" jdbcType="VARCHAR" />
    <result column="discount_mode" property="discountMode" jdbcType="INTEGER" />
    <result column="param1" property="param1" jdbcType="VARCHAR" />
    <result column="param2" property="param2" jdbcType="VARCHAR" />
    <result column="param3" property="param3" jdbcType="VARCHAR" />
    <result column="param4" property="param4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mchnt_cd, discount_mode, param1, param2, param3, param4
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_bkms_discount_rule_config_inf
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByMchntCd" parameterType="java.lang.String" >
    delete from tbl_bkms_discount_rule_config_inf
    where mchnt_cd = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_bkms_discount_rule_config_inf
    where id = #{id,jdbcType=INTEGER}
  </delete>
   <insert id="insertbatch" parameterType="java.util.List" >
    insert into tbl_bkms_discount_rule_config_inf (mchnt_cd, discount_mode, param1, param2, param3, param4)
    values
     <foreach collection="list" item="item" index="index" separator="," >
        (#{item.mchntCd,jdbcType=VARCHAR}, #{item.discountMode,jdbcType=INTEGER}, 
      #{item.param1,jdbcType=VARCHAR}, #{item.param2,jdbcType=VARCHAR}, #{item.param3,jdbcType=VARCHAR}, 
      #{item.param4,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insert" parameterType="com.centerm.model.prom.DiscountRuleInf" >
    insert into tbl_bkms_discount_rule_config_inf (id, mchnt_cd, discount_mode, 
      param1, param2, param3, 
      param4)
    values (#{id,jdbcType=INTEGER}, #{mchntCd,jdbcType=VARCHAR}, #{discountMode,jdbcType=INTEGER}, 
      #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, #{param3,jdbcType=VARCHAR}, 
      #{param4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.centerm.model.prom.DiscountRuleInf" >
    insert into tbl_bkms_discount_rule_config_inf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mchntCd != null" >
        mchnt_cd,
      </if>
      <if test="discountMode != null" >
        discount_mode,
      </if>
      <if test="param1 != null" >
        param1,
      </if>
      <if test="param2 != null" >
        param2,
      </if>
      <if test="param3 != null" >
        param3,
      </if>
      <if test="param4 != null" >
        param4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mchntCd != null" >
        #{mchntCd,jdbcType=VARCHAR},
      </if>
      <if test="discountMode != null" >
        #{discountMode,jdbcType=INTEGER},
      </if>
      <if test="param1 != null" >
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null" >
        #{param4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centerm.model.prom.DiscountRuleInf" >
    update tbl_bkms_discount_rule_config_inf
    <set >
      <if test="mchntCd != null" >
        mchnt_cd = #{mchntCd,jdbcType=VARCHAR},
      </if>
      <if test="discountMode != null" >
        discount_mode = #{discountMode,jdbcType=INTEGER},
      </if>
      <if test="param1 != null" >
        param1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        param2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        param3 = #{param3,jdbcType=VARCHAR},
      </if>
      <if test="param4 != null" >
        param4 = #{param4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centerm.model.prom.DiscountRuleInf" >
    update tbl_bkms_discount_rule_config_inf
    set mchnt_cd = #{mchntCd,jdbcType=VARCHAR},
      discount_mode = #{discountMode,jdbcType=INTEGER},
      param1 = #{param1,jdbcType=VARCHAR},
      param2 = #{param2,jdbcType=VARCHAR},
      param3 = #{param3,jdbcType=VARCHAR},
      param4 = #{param4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>