<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.centerm.dao.menu.ComboDetailInfMapper" >
  <resultMap id="BaseResultMap" type="com.centerm.model.menu.ComboDetailInf" >
    <id column="combo_id" property="comboId" jdbcType="VARCHAR" />
    <id column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="taste" property="taste" jdbcType="VARCHAR" />
    <result column="specifications" property="specifications" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="all_spec" property="allSpec" jdbcType="VARCHAR" />
    <result column="all_taste" property="allTaste" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    combo_id, product_id, taste, specifications, num
  </sql>
  <sql id="Modal_Column_List" >
    a.combo_id, a.product_id, a.taste, a.specifications, a.num,d.price as price,d.product_name as product_name,d.specifications as all_spec,
	d.taste as all_taste
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.centerm.model.menu.ComboDetailInf" >
    select 
    <include refid="Base_Column_List" />
    from tbl_bkms_menu_combo_detail_inf
    where combo_id = #{comboId,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </select>
  <select id="findByComboId" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Modal_Column_List" />
    from tbl_bkms_menu_combo_detail_inf a
    join tbl_bkms_menu_inf d
    on a.product_id = d.product_id
    where combo_id = #{comboId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.centerm.model.menu.ComboDetailInf" >
    delete from tbl_bkms_menu_combo_detail_inf
    where combo_id = #{comboId,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByComboId" parameterType="java.lang.String" >
    delete from tbl_bkms_menu_combo_detail_inf
    where combo_id = #{comboId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.centerm.model.menu.ComboDetailInf" >
    insert into tbl_bkms_menu_combo_detail_inf (combo_id, product_id, taste, 
      specifications, num)
    values (#{comboId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{taste,jdbcType=VARCHAR}, 
      #{specifications,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER})
  </insert>
  <insert id="insertbatch" parameterType="java.util.List" >
    insert into tbl_bkms_menu_combo_detail_inf (combo_id, product_id, taste, 
      specifications, num)
    values
     <foreach collection="list" item="item" index="index" separator="," >
        (#{item.comboId,jdbcType=VARCHAR}, #{item.productId,jdbcType=VARCHAR}, #{item.taste,jdbcType=VARCHAR}, 
      #{item.specifications,jdbcType=VARCHAR}, #{item.num,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.centerm.model.menu.ComboDetailInf" >
    insert into tbl_bkms_menu_combo_detail_inf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="comboId != null" >
        combo_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="taste != null" >
        taste,
      </if>
      <if test="specifications != null" >
        specifications,
      </if>
      <if test="num != null" >
        num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="comboId != null" >
        #{comboId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="taste != null" >
        #{taste,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.centerm.model.menu.ComboDetailInf" >
    update tbl_bkms_menu_combo_detail_inf
    <set >
      <if test="taste != null" >
        taste = #{taste,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        specifications = #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
    </set>
    where combo_id = #{comboId,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.centerm.model.menu.ComboDetailInf" >
    update tbl_bkms_menu_combo_detail_inf
    set taste = #{taste,jdbcType=VARCHAR},
      specifications = #{specifications,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER}
    where combo_id = #{comboId,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=VARCHAR}
  </update>
</mapper>